
body{
  font-family: 'Montserrat';
}

h1{
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-bold';
  font-size: 1.5rem;
}

p{
  color:#8f8f8f;
}

#title{
  background-color: #89CFFD;
  color: white;
  padding: 3% 15% 0;
}

.dustbin{
  width: 75%;
  transform: rotate(20deg);
  margin-top: 30px;
}

.welcome{
  margin: 25px 0 10px;
}

/* Features section */

#features{
  padding: 7% 15%;
}

.features-box{
  text-align: center;
  padding: 4.5%;
}

.icon{
  color: #3B9AE1;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #C1EFFF;
}

/* Navbar navigation */
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  margin:10px;
}


/* Testimonials */

#testimonials{
  background-color: #89CFFD;
  color: white;
  text-align: center;
}

.carousel-item{
  padding: 100px;
}


/* Download button */
.download{
  margin: 15px 5px;
}

/* Pricing section */
#pricing{
  text-align: center;
  padding: 3% 15%;
}

.card{
  margin: 10%;
}

/* CTA section */
#cta{
  background-color: #89CFFD;
  color: white;
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
  padding: 100px;
  text-align: center;
}

/* Contact section */
#contact{
  text-align: center;
  padding: 7% 15%;
}

.id{
  color:  #3B9AE1;
  margin: 10px;
}

.id:hover{
  color: #C1EFFF;
}
